<header>
  <div class="container">
    <div class="row">
      <div class="clearfix span8">
        <h1 class="pull-left"><a class="hide-text"  href="/" title="E-commerce Site">Seller</a></h1>
        <h2 class="pull-left">Trusted Site For Buying Site</h2>
      </div>
      <nav class="span4">
        <ul class="inline pull-right">
          <li><a routerLink="/about" title="About">About</a></li>
          <li><a routerLink="/market" title="Products">Products</a></li>
          <li><a routerLink="/login" title="Products">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<section role="main">
  <div class="container">
    <section>
      <h1>Take a look at our Products to see what we mean</h1>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img alt="A Thumbnail!" src="imgs/thumb1.png" />
            <h2>Purus Egestas Fusce</h2>
            <p>Cras justo odio, dapibus ac facilisis egestas eget quam.</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="A Thumbnail!" src="imgs/thumb2.png" />
            <h2>Purus Egestas Fusce</h2>
            <p>Cras justo odio, dapibus ac facilisis egestas eget quam.</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="A Thumbnail!" src="imgs/thumb3.png" />
            <h2>Purus Egestas Fusce</h2>
            <p>Cras justo odio, dapibus ac facilisis egestas eget quam.</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="A Thumbnail!" src="imgs/thumb4.png" />
            <h2>Purus Egestas Fusce</h2>
            <p>Cras justo odio, dapibus ac facilisis egestas eget quam.</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="A Thumbnail!" src="imgs/thumb5.png" />
            <h2>Purus Egestas Fusce</h2>
            <p>Cras justo odio, dapibus ac facilisis egestas eget quam.</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail">
            <img alt="A Thumbnail!" src="imgs/thumb6.png" />
            <h2>Purus Egestas Fusce</h2>
            <p>Cras justo odio, dapibus ac facilisis egestas eget quam.</p>
          </div>
        </li>
      </ul>
    </section>
    <article>
      <h1>Risus portacon vestibulum posuere</h1>
      <div class="row">
        <p class="span8">Cray sustainable vegan post-ironic mixtape. 8-bit sustainable sed put a bird on it keytar fingerstache et, ennui street art proident wayfarers viral ethnic. Eu craft beer anim, keffiyeh chambray occaecat jean shorts hella selvage keytar butcher vice in. American apparel pour-over master cleanse, fingerstache etsy qui umami dreamcatcher twee.</p>
        <ul class="span4">
          <li><a href="#" title="A link">Cray sustainable vegan</a></li>
          <li><a href="#" title="A link">Chambray occaecat jean shorts</a></li>
          <li><a href="#" title="A link">Hella selvage</a></li>
          <li><a href="#" title="A link">Over master cleanse</a></li>
        </ul>
      </div>
    </article>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <small class="span8">&copy; 2019 All Rights Reserved By Seller.</small>
      <nav class="span4">
        <ul class="inline">
          <li><a routerLink="/about" title="About">About</a></li>
          <li><a routerLink="/market" title="Products">Products</a></li>
          <li><a routerLink="/login" title="Products">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
